In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Home.csv', encoding='utf8')
df.head(5)

C:\Users\yahya\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,date,time,timestamp,use [kW],gen [kW],House overall [kW],Dishwasher [kW],Furnace 1 [kW],Furnace 2 [kW],Home office [kW],...,Wine cellar [kW],Garage door [kW],Kitchen 12 [kW],Kitchen 14 [kW],Kitchen 38 [kW],Barn [kW],Well [kW],Microwave [kW],Living room [kW],Solar [kW]
0,"Friday, January 1, 2016",5:00:00 AM,1451624400,0.932833,0.003483,0.932833,0.000033,0.020700,0.061917,0.442633,...,0.006983,0.013083,0.000417,0.000150,0.000000,0.031350,0.001017,0.004067,0.001517,0.003483
1,"Friday, January 1, 2016",5:00:01 AM,1451624401,0.934333,0.003467,0.934333,0.000000,0.020717,0.063817,0.444067,...,0.006983,0.013117,0.000417,0.000150,0.000000,0.031500,0.001017,0.004067,0.001650,0.003467
2,"Friday, January 1, 2016",5:00:02 AM,1451624402,0.931817,0.003467,0.931817,0.000017,0.020700,0.062317,0.446067,...,0.006983,0.013083,0.000433,0.000167,0.000017,0.031517,0.001000,0.004067,0.001650,0.003467
3,"Friday, January 1, 2016",5:00:03 AM,1451624403,1.022050,0.003483,1.022050,0.000017,0.106900,0.068517,0.446583,...,0.006983,0.013000,0.000433,0.000217,0.000000,0.031500,0.001017,0.004067,0.001617,0.003483
4,"Friday, January 1, 2016",5:00:04 AM,1451624404,1.139400,0.003467,1.139400,0.000133,0.236933,0.063983,0.446533,...,0.006850,0.012783,0.000450,0.000333,0.000000,0.031500,0.001017,0.004067,0.001583,0.003467

In [3]:
room = pd.read_csv('project_dataset/Rooms.csv', encoding='utf8')
room.head(5)

,room_id,house_id,room_name,description,sensor_count
0,0,0,Kitchen,Kitchen has many sensors in it,3
1,1,0,Living Room,NaN,1
2,2,0,Home Office,NaN,1

In [4]:
#room IDs are in room_id array
room_id = room['room_id']

In [5]:
#assign sensor ID
dishwasher_id = 0
fridge_id = 1
microwave_id = 2
livingroom_id = 3
home_office_id = 4

In [6]:
#Kitchen appliances Sensor Data
dishwasher =  df['Dishwasher [kW]']
fridge = df['Fridge [kW]']
microwave = df['Microwave [kW]']
livingroom = df['Living room [kW]']
home_office = df['Home office [kW]']
date_load = df['date']
time_load = df['time']

In [7]:
print(len(dishwasher))

503911

In [8]:
power_consumption = [] 
applicance_id = []
activity_ids = []
date = []
time = []
startingid= 0
for x in range(len(dishwasher)):
    power_consumption.append(dishwasher[x])
    applicance_id.append(dishwasher_id)
    activity_ids.append(startingid)
    date.append(date_load[x])
    time.append(time_load[x])
    startingid+=1
    power_consumption.append(fridge[x])
    applicance_id.append(fridge_id)
    activity_ids.append(startingid)
    date.append(date_load[x])
    time.append(time_load[x])
    startingid+=1
    power_consumption.append(microwave[x])
    applicance_id.append(microwave_id)
    activity_ids.append(startingid)
    date.append(date_load[x])
    time.append(time_load[x])
    startingid+=1
    power_consumption.append(livingroom[x])
    applicance_id.append(livingroom_id)
    activity_ids.append(startingid)
    date.append(date_load[x])
    time.append(time_load[x])
    startingid+=1
    power_consumption.append(home_office[x])
    applicance_id.append(home_office_id)
    activity_ids.append(startingid)
    date.append(date_load[x])
    time.append(time_load[x])
    startingid+=1
   
    
print(len(power_consumption))
print(len(applicance_id))
print(startingid)

2519555
2519555
2519555

In [9]:
print(len(power_consumption))

2519555

In [10]:
activity = pd.read_csv('project_dataset/activity.csv')
activity.head(5)

Empty DataFrame
Columns: [activity_id, appliance_id, current_state, power_conumption, date, time]
Index: []

In [11]:
activity['activity_id'] = activity_ids
activity['appliance_id'] = applicance_id
activity['power_conumption'] = power_consumption

In [12]:
activity['date'] =date
activity['time'] = time

In [13]:
activity.to_csv('project_dataset/activity3.csv', index = False)

In [15]:
dailyconsumption = pd.read_csv('project_dataset/activity3.csv')
dailyconsumption.head(5)

,activity_id,appliance_id,current_state,power_conumption,date,time
0,0,0,NaN,0.000033,"Friday, January 1, 2016",5:00:00 AM
1,1,1,NaN,0.124150,"Friday, January 1, 2016",5:00:00 AM
2,2,2,NaN,0.004067,"Friday, January 1, 2016",5:00:00 AM
3,3,3,NaN,0.001517,"Friday, January 1, 2016",5:00:00 AM
4,4,4,NaN,0.442633,"Friday, January 1, 2016",5:00:00 AM

In [16]:
sensor_id = dailyconsumption['appliance_id']
power = dailyconsumption['power_conumption']

In [49]:
print(len(power)%7)

3

In [128]:
start = 1
daily_consumption = []
daily_id = []
sensor_id=[]
id= 0
for x in range(6):

    daily_consumption.append(np.sum(dishwasher[86400*x:86400*(x+1)]))
    sensor_id.append(0)
    daily_id.append(id)
    id+=1
    daily_consumption.append(np.sum(fridge[86400*x:86400*(x+1)]))
    sensor_id.append(1)
    daily_id.append(id)
    id+=1
    daily_consumption.append( np.sum(microwave[86400*x:86400*(x+1)]))
    sensor_id.append(2)
    daily_id.append(id)
    id+=1
    daily_consumption.append(np.sum(livingroom[86400*x:86400*(x+1)]))
    sensor_id.append(3)
    daily_id.append(id)
    id+=1
    daily_consumption.append(np.sum(home_office[86400*x:86400*(x+1)]))
    sensor_id.append(4)
    daily_id.append(id)
    id+=1

print(len(daily_consumption))
print(len(sensor_id))
print(sensor_id)

30
30
[0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [131]:
consumption = pd.read_csv('project_dataset/daily_consumption.csv')
consumption.head(5)

Empty DataFrame
Columns: [daily_id, sensor_id, total consumption, date]
Index: []

In [132]:
consumption['daily_id'] = daily_id
consumption['sensor_id'] = sensor_id
consumption['total consumption'] = daily_consumption

In [133]:
consumption.to_csv('project_dataset/daily_consumption2.csv', index = False)